body {
  background-color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.btn-primary{
  background-color: blue;
  margin-left: 210px;
  margin-top: 10px;
  width: 250px;
  height: 40px;
  font-size: 1.25rem;
  font-weight: 400;
}

span{
  align-items: flex-end;
}