#img-1{
    width: 1360px;
    height: 400px;
}

p{
    margin-top: 250px;
    text-align: center;
    margin-left: 600px;
    font-size: 1.5rem;
}
h2{
    text-align: center;
    font-size: 3rem;
}
#img-2{
    position: relative;
    top: -20rem;
    height: 30rem;
    width: 36rem;

}

.intro-text{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s all ease-in-out;
}

.intro-appear{
    opacity: 1;
    transform: translateY(0px);
}