#name{
    border:3px solid black;
    margin:auto;
}

#pd{
    border: 3px solid black;
    margin-top: 5px;
}

#eye{
    border: 2px solid rgb(243, 143, 13);
    color:black;
    background-color: white;
}

#eye:hover{
    color:red;
    background-color:white;
}